.header{
    background: #347c04;
    height: 360px;
}

.header .banner{
    background-image: url(banner.svg);
    background-repeat: no-repeat;
    height: 85%;
    box-sizing: border-box;
    padding: 40px;
}
.header #banner-id{
    width: 100%;
    height: 70%;
    padding-top: 5px;
    box-sizing: border-box;
}


.header .banner-box{
   height: 80%;
   width: 500px;
   color: white;
}

.header .banner-box h1{
    font-size: 45px;
    letter-spacing: 4px;
    font-weight:500px;
    font-family: bold;
 }

.header .header-nav{
    box-sizing: border-box;
    padding: 0 40px;
    background: #000000;
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav .logo{
    width: 15%;
    height: 85%;
    background-image: url(logo_sigapi.png);
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.header .header-nav nav{
    height: 80%;
    width: 40%;
}


.header-nav nav ul{
    margin: auto;
    width: 100%;
}

.header-nav nav ul .botao1,.header-nav nav ul .botao2{
    width: 30%;
    max-width: 200px;
}

.header-nav nav ul .botao1{
    background-color: #FFFFFF;
    transition: height 0s;
}
.header-nav nav ul .botao1:hover{
    background-color: #f1f0f0;
    height: 150px;
    /*height: 260px;*/
}
.header-nav nav .botao1 ul{
    display: none;
    flex-direction: column;
    transition: display 5s;
    height: 0%;
}

.header-nav nav ul .botao1:hover ul{
    display: flex;
    height: 95%;

}



.header-nav nav .botao1 ul li{
    display: flex;
    flex-direction: column;
    height: 45px;
    width: 100%;
    border-radius: 5px;
    background-color: #c2c2c2;
    transition: background-color 1s;

}


.header-nav nav .botao1 ul li:hover{
    color: white;
    background-color: #1A4225;
}