#body{
    background-color: #F8EDED;
    width: 100%;
    height: 600px;
    display: flex;
}


.body-img{
    width: 25%;
    height: 100%;
    padding: 30px;
    box-sizing: border-box;
}

.body-img #body-ifce-logo{
    height: 300px;
    width: 200px;
    background-image: url(ifce.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.body-content{
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    padding-top: 60px;
}

.body-content .body-grid{
    width: 45%;
    height: 63%;
    background-color: #E8CDCD;
    border-radius: 25px;
    box-sizing: border-box;
    padding: 15px;
}

.body-content .body-grid p{
    margin-top: 10px;
    margin-bottom: 5px;
}


#imgIFCE{
    margin: 5px;
    width: 98%;
    height: 90%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(IFCE_campus_grid.png);
}

#imgHALLW{
    margin: 5px;
    width: 98%;
    height: 90%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(halloween.png);
}