#calendarioacademico{
    height: 100vh;
    width: 100vw;
    background-color: rgb(52, 160, 255);
    display: flex;
}

#calendarioacademico-nav{
    height: 100%;
    width: 28vw;
    background-color: #000000;
}

#calendarioacademico-content{
    height: 100%;
    width: 72vw;
    background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#calendarioacademico-content-top{
    width: 100%;
    height: 25%;
    max-height: 200px;
    background-image: url(banner.svg);
    background-size: 100%;
    background-color: #347c04;
}

#calendarioacademico-content-show{
    width: 100%;
    height: 80%;
    background-color: #F4F4F4;
}