#login{
    display: flex;
    background-color: rgb(11, 73, 9);   
    background-image: url(fundo.png);
}

.side-one{
    width: 55%;
    height: 100vh;
    background-size: 100%;
    box-sizing: border-box;
    padding: 50px;
}

.side-one h2{
    color: white;
    letter-spacing: 5px;
    font-weight: 300;
}

#ifce-logo{
    position: fixed;
    bottom: 0;
    left: 0;
    background-image: url(IFCE_login.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 400px;
    width: 350px;
}

.side-two{
    width: 45%;
    height: 100vh;
    border-radius: 25px 0 0 25px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-two .side-two-content{
    height: 500px;
    width: 450px;
}

#login-logo{
    background-image: url(logo.png);
    width: 100%;
    height: 25%;
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
}

#login-form{
    height: 75%;
    width: 100%;
    box-sizing: border-box;
    padding: 50px;
}

#login-form #login-content{
    background-color: blue;
    width: 100%;
    height: 100%;
}